# Maven
/target/

# Eclipse
.project
.classpath
.settings/

# IntelliJ
.idea/
*.iml

# Logs
*.log

# Java
*.class

# Access Lock File
*.laccdb

# Configuracao local
/config.properties

# Bancos Microsoft Access
*.accdb

# Sistema Operacional
.DS_Store
Thumbs.db

.agents